 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
     <h2>Languages</h2>
     <i class="fa-brands fa-r-project"></i> 
     <i class="devicon-python-plain colored"></i>    
     <i class="devicon-sass-original colored"></i>   
     <i class="devicon-git-plain colored"></i>
     <i class="devicon-r-original"></i>
     <p >test test test</p>
    </div>
    <div class="tech">
      <h2>Software</h2>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-tensorflow-original colored"></i>
      <i class="devicon-bootstrap-plain colored"></i>
      <i class="devicon-azure-plain colored"></i>
    </div>
    <div class="tech">
      <h2>Tools</h2>
    </div>
</div>
